*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 ;
    box-sizing: border-box;
}
#header{
    height: 13rem;
    display: flex;
    flex-direction: column;
    background-image: url("../img/banner.jpg");
    background-size: contain;
}
.header__contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}
.header__title{
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding-left: 2em;
    font-size: 2em;
    flex-direction: column;
}
.header__logotipo{
    height: 8rem;
    width: 10rem;
    border: none;
    transform: translateX(-6rem);

}
nav{
    background-color: rgb(13, 75, 13);
    display: flex;
    height: 4rem;
}
ul{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-right: 2px solid #fff;
}

a{
    flex: 1;
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}
main{
    display: flex;
    flex: 1;
    height: calc(100vh - 16rem - 8rem);
    overflow: auto;
    box-sizing: border-box;
    padding: 5px  0;
    gap: 15px;
}
.contenedor__card{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    padding: 0 0  0;
}
.card{
    box-sizing: border-box;
    padding: 1em;
    flex: 1;
    display: flex;
    background-color: rgb(255, 243, 114);
    border-radius: 1em;
}
.card__text{
    flex: 1;
    flex-direction: column;
    display: flex;
}
.perro{
    border: 2px solid ;
    height: 6em;
    width: 5em;
}
.login{
    display: flex;
    width: 21em;
    height: 100%;
    flex-direction: column;
    background-color: rgba(10, 89, 10, 0.616);;
    border-radius: 4px;
    box-sizing: border-box;
    padding: .4em;
}
.login header{
    background-color: rgb(1,46,1);
    height: 3em;
    width: 20.3rem;
    color: #fff;
    font-size: 18px ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: 5rem;
    background-color: rgb(13, 75, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
}
.vermas{
    color: blue;
    font-size: 14px;
    text-decoration: none;
    align-self: flex-start;
}
.campo{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1em;
}
input{
    flex: 1;
}
label{
    color: #fff;
    width: 2.6rem;
}
input[type="submit"]{
    align-self: center;
    width: 13rem;
    border: none;
    background-color: rgb(217, 222, 227);
    font-size: 16px;

}
pre{
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-weight: 1000;
}
